<a href="https://colab.research.google.com/github/Anasuya-Sahoo/LetsUpgrade-Python/blob/master/Day_2_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST**

In [ ]:
#LIST and Its Default Methods
lst=["Anasuya","Sahoo","teacher",1993,891766550]
lst

['Anasuya', 'Sahoo', 'teacher', 1993, 891766550]

In [ ]:
print ("First Element: ", lst[0])
print ("Second Element: ", lst[1])

First Element:  Anasuya
Second Element:  Sahoo

In [ ]:
print("List1=",lst[2:])

List1= ['teacher', 1993, 891766550]

In [ ]:
print("List1=",lst[-1])

List1= 891766550

In [ ]:
print("List1=",lst[-1:])

List1= [891766550]

In [ ]:
print("List1=",lst[1:-1])

List1= ['Sahoo', 'teacher', 1993]

In [ ]:
#len():Gives the total length of the list.
len(lst)

5

In [ ]:
#max():Returns item from the list with max value.
lst1=[10,109,887,60,890]
max(lst1)

890

In [ ]:
#min():Returns item from the list with min value.
min(lst1)

10

In [ ]:
#list():Converts a tuple into list.
tpl=("hii","hello","welcome")
list(tpl)

['hii', 'hello', 'welcome']

In [ ]:
#append():Appends object obj to list.
lst.append("Welcome to all")
lst

['Anasuya', 'Sahoo', 'teacher', 1993, 891766550, 'Welcome to all']

In [ ]:
#count():Returns count of how many times obj occurs in list
lst2=[1,3,4,5,4,3,6,5,7,3,4,1,1]
lst2.count(4)

3

In [ ]:
#extend():Appends the contents of seq to list
tpl1=(1,2,3)
lst.extend(tpl1)
lst

['Anasuya',
 'Sahoo',
 'teacher',
 1993,
 891766550,
 'Welcome to all',
 'hii',
 'hello',
 'welcome',
 'hii',
 'hello',
 'welcome',
 'hii',
 'hello',
 'welcome',
 1,
 2,
 3]

In [ ]:
del lst[9:15]
lst

['Anasuya',
 'Sahoo',
 'teacher',
 1993,
 891766550,
 'Welcome to all',
 'hii',
 'hello',
 'welcome',
 1,
 2,
 3]

In [ ]:
del lst[8:]
lst

['Anasuya',
 'Sahoo',
 'teacher',
 1993,
 891766550,
 'Welcome to all',
 'hii',
 'hello']

In [ ]:
#index():Returns the lowest index in list that obj appears
lst.index('teacher')

2

In [ ]:
lst2.index(3)

1

In [ ]:
#insert():Inserts object obj into list at offset index
lst.insert(2,"Good night")
lst

['Anasuya',
 'Sahoo',
 'Good night',
 'teacher',
 1993,
 891766550,
 'Welcome to all',
 'hii',
 'hello']

In [ ]:
#pop():Removes and returns last object or obj from list
lst.pop()
lst

['Anasuya',
 'Sahoo',
 'Good night',
 'teacher',
 1993,
 891766550,
 'Welcome to all',
 'hii']

In [ ]:
#remove():Removes object obj from list
lst.remove('Welcome to all')
lst

['Anasuya', 'Sahoo', 'Good night', 'teacher', 1993, 891766550, 'hii']

In [ ]:
#reverse():Reverses objects of list in place
lst.reverse()

In [ ]:
lst

['hii', 891766550, 1993, 'teacher', 'Good night', 'Sahoo', 'Anasuya']

In [ ]:
#sort():Sorts objects of list, use compare func if given
lst2.sort()
lst2

[1, 1, 1, 3, 3, 3, 4, 4, 4, 5, 5, 6, 7]

**DICTIONARY**

In [ ]:
dit={"name":"Anasuya","age":26, "profession":"Lecture", "Address":"Cuttack"}
dit

{'Address': 'Cuttack', 'age': 26, 'name': 'Anasuya', 'profession': 'Lecture'}

In [ ]:
#len():Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.
len(dit)

4

In [ ]:
#str():Produces a printable string representation of a dictionary
str(dit)

"{'name': 'Anasuya', 'age': 26, 'profession': 'Lecture', 'Address': 'Cuttack'}"

In [ ]:
#type():Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.
type(dit)

dict

In [ ]:
#copy():Returns a shallow copy of dictionary dict
dit.copy()

{'Address': 'Cuttack', 'age': 26, 'name': 'Anasuya', 'profession': 'Lecture'}

In [ ]:
#fromkeys():Create a new dictionary with keys from seq and values set to value.
dit.fromkeys("name")

{'a': None, 'e': None, 'm': None, 'n': None}

In [ ]:
#get():For key key, returns value or default if key not in dictionary.
dit.get("age")

26

In [ ]:
#items():Returns a list of dict's (key, value) tuple pairs
dit.items()

dict_items([('name', 'Anasuya'), ('age', 26), ('profession', 'Lecture'), ('Address', 'Cuttack')])

In [ ]:
#keys():Returns list of dictionary dict's keys
dit.keys()

dict_keys(['name', 'age', 'profession', 'Address'])

In [ ]:
#setdefault():Similar to get(), but will set dict[key] = default if key is not already in dict
dit.setdefault("DOB","3-10-1994")

'3-10-1994'

In [ ]:
#values():Returns list of dictionary dict's values
dit.values()

dict_values(['Anasuya', 26, 'Lecture', 'Cuttack', '3-10-1994'])

In [ ]:
#clear():Removes all elements of dictionary dict
dit.clear()

In [ ]:
dit

{}

**SET**

In [ ]:
set1={"apple","banana","Orange","Mango"}
set1

{'Mango', 'Orange', 'apple', 'banana'}

In [ ]:
for i in set1:
  print(i)

apple
Mango
Orange
banana

In [ ]:
#Once a set is created, you cannot change its items, but you can add new items.
#add():To add one item to a set use the add() method.
set1.add("strawberry")
set1

{'Mango', 'Orange', 'apple', 'banana', 'strawberry'}

In [2]:
#update():To add more than one item to a set use the update() method.
set2={"apple","banana","Orange","Mango"}
set2.update(["cherry","blueberry","plum"])
set2

{'Mango', 'Orange', 'apple', 'banana', 'blueberry', 'cherry', 'plum'}

In [3]:
#len():returns the length of the set.
len(set2)

7

In [4]:
#remove():Removes an item from the set.
set2.remove("plum")
set2

{'Mango', 'Orange', 'apple', 'banana', 'blueberry', 'cherry'}

In [5]:
#discard():Removes an item from the set.
set2.discard("apple")
set2

{'Mango', 'Orange', 'banana', 'blueberry', 'cherry'}

In [6]:
#pop():Remove the last item by using the pop() method
set2.pop()
set2

{'Mango', 'Orange', 'banana', 'cherry'}

In [8]:
#union():method returns a new set with all items from both sets
s1={1,2,3}
s2={"a","b","c"}
s3=s1.union(s2)
s3

{1, 2, 3, 'a', 'b', 'c'}

**TUPLE**

In [9]:
tpl=(10,20,30,40,50)
tpl

(10, 20, 30, 40, 50)

In [10]:
print("First element:",tpl[0])

First element: 10

In [11]:
print("Element:",tpl[1:4])

Element: (20, 30, 40)

In [12]:
tpl1=("a","b","c","d")
tpl1

('a', 'b', 'c', 'd')

In [13]:
#Concatenation of the tuple
tpl2=tpl+tpl1
tpl2

(10, 20, 30, 40, 50, 'a', 'b', 'c', 'd')

In [14]:
#Length of the tuple
len(tpl2)

9

In [15]:
#Repeatation of the Tuple
tpl*2

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [16]:
#Membership of the tuple
30 in tpl

True

In [17]:
#Iteration
for x in tpl:
  print(x)

10
20
30
40
50

In [19]:
#len():Gives the total length of the tuple.
len(tpl)

5

In [20]:
#max():Returns item from the tuple with max value.
max(tpl)

50

In [21]:
#min():Returns item from the tuple with min value.
min(tpl)

10

**STRING**

In [22]:
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

In [24]:
#Capitalizes first letter of string
var1.capitalize()

'Hello world!'

In [25]:
#Returns true if string contains only digits and false otherwise.
var1.isdigit()

False

In [27]:
#Returns the length of the string
len(var1)

12

In [29]:
#Converts all uppercase letters in string to lowercase.
var1.lower()

'hello world!'

In [31]:
#Returns the max alphabetical character from the string str.
max(var1)

'r'